.add-user-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(149, 158, 161);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .add-user-page .welcome-message {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .add-user-page form {
    margin-top: 20px;
  }
  
  .add-user-page label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
  }
  
  .add-user-page input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .add-user-page input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .add-user-page button {
    background-color: rgb(116, 10, 10);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .add-user-page button:hover {
    background-color: #8e723e;
  }

  .add-user-page a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    transition: color 0.3s ease-in-out;
}

.add-user-page a:hover {
    color: rgb(116, 10, 10);
    text-decoration: underline;
}
