* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: aliceblue;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.2s;
}

button.primary {
  background: #007bff;
  color: white;
}

button.primary:hover {
  background: #0056b3;
}

input, select {
  padding: 10px;
  margin: 5px ;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}